{% extends "layout.html" %}
{% block content %}

    <h2>Statistics: {{ legend }} </h2>

    <button type="button" class="btn btn-primary" onclick="window.location.href='/home';">Back</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('exchart', exercise = legend ) }}';">Chart</button>



    <br>
    {% for post in posts %}
    <div class="card w-75">
        <div class="card-body">
            <!--<h5 class="card-title">{{ post.exercise }}</h5>-->
            <!--<h2><a class="article-title" href="{{ url_for('home', exercise=post.exercise) }}">{{ post.exercise }}</a></h2>
            --><h4>{{ post.exercise }}</h4>
           
            

            <small class="text-muted">Date: {{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            <p class="card-text">{{ post.category }}, {{ post.weight }} kg</p>
            <div>
                <!--<button type="button" class="btn btn-danger btn-sm m-1 ">Delete</button>-->
                <form action="{{ url_for('delete', post_id=post.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>


        </div>
    </div>
{% endfor %}

{% endblock content %}



  