{% extends "layout.html" %}
{% block content %}


<div class="card text-white bg-info mb-3 w-50">
    <div class="card-body">
    <h2 class="text-white">Statistics: {{ legend }} </h2>

    <button type="button" class="btn btn-primary" onclick="window.location.href='/home';">Back</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('exchart', exercise = legend ) }}';">Chart</button>

    </div>
</div>



    <br>
    {% for post in posts %}
    <div class="card w-50">
        <div class="card-body">
            <!--<h5 class="card-title">{{ post.exercise }}</h5>-->
            <!--<h2><a class="article-title" href="{{ url_for('home', exercise=post.exercise) }}">{{ post.exercise }}</a></h2>
            -->

            <div>
                <!--<button type="button" class="btn btn-danger btn-sm m-1 ">Delete</button>-->
                <form action="{{ url_for('stat_delete', post_id=post.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger float-right" value="Delete">
                </form>
            </div>

            <h2 class="card-text">{{ post.weight }} kg</h2>
            <h4 class="text-muted">Date: {{ post.date_posted.strftime('%d-%m-%Y') }}</h4>
            <h5 class="text-sm-left">Category: {{ post.category }}</h5>




        </div>
    </div>
{% endfor %}

{% endblock content %}



  